$color-grey-dark: #777;
$color-grey-light: #f7f7f7;
$color-orange: #e67e22;
$color-white: #07252e;
$color-input-border: #e7e7e7;
$color-text-button: #28B9B5;
$color-primary: #55c57a;
$text-text-dark: #260811;
$color-back-dark: #f2f0ee;


$grid-width: 114rem;
$grid-gutter-vertical: 3rem;
$grid-gutter-horizontal: 6rem;
$grid-gutter-horizontal-small: 1rem;
