.section-input {
  text-align: center;
  background-color: $color-grey-light;
  border-bottom: 1px solid #e7e7e7;
  padding-top: 3rem;
  padding-bottom: 1.5rem;

  &__text {
    border: 1px solid #e7e7e7;
    font-size: 1.4rem;
    padding: 1.2rem 1.5rem;
    border-radius: .8rem;
    text-align: center;
  }
}